.button{
    font-size: 18px;
    background-color: #1144ff;
    cursor: pointer;
    border: 2px solid #DDD;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    color: #fefdff;
    width: 200px;
}

.grid{
    display: block;
    max-width: 1500px;
    margin: 0 auto;
}

.grid-col{
    width: 20%;
    display: inline-block;
    text-align: center;
}